[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = lidiads22
	email = Lidiads22@icloud.com
[core]
	autocrlf = input
